@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: rgb(248, 248, 248);
  --color-card-color: rgb(255, 255, 255);
  --color-text-color: rgb(0, 0, 0);
  --color-textred-color: rgb(197,6,13);
  --text-28:1.75rem;
  --gap-my:60px;
}

h1 {
  color: rgb(0, 0, 0);
}

.gray-text {
  color:rgb(132,132,133);
}

.new{
  background-color: rgb(234,232,230);
}

.button-bg {
  background-color: rgb(245,245,245);
}