@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "flowbite/dist/flowbite.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: rgb(248, 248, 248);
  --color-card-color: rgb(255, 255, 255);
  --color-text-color: rgb(0, 0, 0);
  --color-textred-color: rgb(197, 6, 13);
  --text-28: 1.75rem;
  --gap-my: 60px;
}

.swiper {
      width: 550px;
      height: 400px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1000000000;
}

.filter-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.filter-panel {
  position: fixed;
  top: 0;
  left: -30%;
  width: 30%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  z-index: 99910000000099;
  overflow-y: auto;
}

.filter-panel.active {
  left: 0;
}

.filter-header {
  padding-top: 47px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.filter-header h2 {
  font-size: 1.25rem;
}

.filter-close-btn {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 26px;
  cursor: pointer;
  margin-right: 25px;
}

.filter-content {
  padding-left: 20px;
  padding-right: 20px;
}

.filter-content h3 {
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 1rem;
}

.price-box {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #D5D5D5;
}

.price-box input {
  width: 1000px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #D5D5D5;
}



.filter-block {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 16px;
  
}

.filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.material-scroll {
  max-height: 180px;
  overflow-y: auto;
  margin-top: 12px;
}

.material-scroll::-webkit-scrollbar {
  width: 3px;
}

.material-scroll::-webkit-scrollbar-thumb {
  background: #000;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .filter-panel {
    width: 35%;
    left: -35%;
  }

  .filter-header {
    padding: 35px;
  }

  .filter-header h2 {
    font-size: 24px;
  }

  .filter-content h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .price-box input {
    width: 90px;
    font-size: 15px;
  }

  .size-item {
    padding: 12px;
    font-size: 15px;
  }

 .filter-content label,
  .custom-checkbox {
    font-size: 16px;
  }

  .apply-btn {
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .filter-panel {
    width: 45%;
    left: -45%;
  }

  .filter-header {
     padding: 30px;
  }

  .filter-header h2 {
    font-size: 22px;
  }

  .filter-content h3 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .price-box input {
    width: 80px;
    font-size: 14px;
  }

  .size-item {
    padding: 10px;
    font-size: 14px;
  }
  .filter-content label,
  .custom-checkbox {
    font-size: 14px;
  }

  .apply-btn {
    font-size: 15px;
    padding: 10px;
  }
}
@media (max-width: 320px) {
  .filter-panel {
    width: 70%;
    left: -70%;
  }

  .filter-header {
    padding: 20px;
  }

  .filter-header h2 {
    font-size: 18px;
  }

  .filter-content h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .price-box input {
    width: 60px;
    font-size: 13px;
  }

  .size-item {
    padding: 8px;
    font-size: 13px;
  }

  .filter-content label,
  .custom-checkbox {
    font-size: 13px;
  }

  .apply-btn {
    font-size: 14px;
    padding: 8px;
  }
}