@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: rgb(248, 248, 248);
  --color-card-color: rgb(255, 255, 255);
  --color-text-color: rgb(0, 0, 0);
  --color-textred-color: rgb(197,6,13);
  --text-28:1.75rem;
  --gap-my:60px;
}

